$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 300px;
  background-color: rgb(15, 112, 112);
  border: 1px solid black;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #ccc;

        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }
}
